@import "utilities/variables";

//map (se usa con la propiedad a colocar variables, map-get, nombre del map)
$links: (
    text-decoration-links: none,
    font-family-links: $letra-titulos,
    font-size-links: 0.8rem,
    color-links: $color-titulos,
);

//extend (se usa con @extend %nombre)
%borde{
    border: 0.12rem solid #8F00FF;;
}

//mixin (se usa con @include nombre)
@mixin flex{
    display: flex;
    flex-direction: column;
}

*{
    color: #ffff;
}
body{
    background-color: black;
}
//index.html mobile first
//header
.flex-div{
    display: flex;
    align-content: center;
    justify-content: space-between;
    img{
        height: 80px;
        width: 80px;
        margin-left: 1rem;
    }
}
.contenedor-nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 1rem;
    li{
        list-style: none;
        a{
            text-decoration: none;
            color: #ffffff;
            font-family: $letra-titulos;
            font-size: 1rem;
            margin: 0.3rem;
            &:hover{
                color: $color-titulos;
            }  
        }
    }
}
//titulo y subtitulos
.index-h1{
    text-align: center;
    color: $color-titulos;
    font-family: $letra-titulos;
    font-size: 2.5rem;
}
.contenedor-h2{
    @extend %borde;
    padding: 0.5rem;
    margin: 2rem;
    h2{
        font-size: 1rem;
        font-family: $letra-secundaria;
        text-align: center;
    }
    .segundo-h2{
        color: $color-titulos;
    }
}
//estadisticas
section{
    display: grid;
    grid-template-areas: "clientes coaches"
                        "boosters venta";
}
.clientes{
    grid-area: clientes;
    font-size: 1rem;
    font-family: $letra-secundaria;
    text-align: center;
}
.coaches{
    grid-area: coaches;
    font-size: 1rem;
    font-family: $letra-secundaria;
    text-align: center;
}
.boosters{
    grid-area: boosters;
    font-size: 1rem;
    font-family: $letra-secundaria;
    text-align: center;
}
.venta{
    grid-area: venta;
    font-size: 1rem;
    font-family: $letra-secundaria;
    text-align: center;
}
.parrafo2{
    color: $color-titulos;
    font-size: 3rem;
}
.img-estadisticas{
    height: 6.25rem;
    width: 6.25rem;
}
//ventajas
.ventajas-section{
    display: inline-block;
    background-color: #000;
    padding: 0.5rem;
    margin: 2rem;
    border: $border-forma
}
.ventajas-titulo{
    text-align: center;
    font-size: 2.3rem;
    color: $color-titulos;
    font-family: $letra-titulos;
}
.ventajas-p{
    text-align: center;
    font-size: 1rem;
    font-family: $letra-secundaria;
    color: #ffffff;
    padding: 10px 10px;
}
.ventajas-span{
    color: $color-titulos;
    font-size: 1.2rem;
}
.ventajas-contacto{
    color: $color-titulos;
    font-size: 1.2rem;
    text-decoration: none;
}
//carrusel
.titulo-carrusel{
    text-align: center;
    font-size: 1.9rem;
    color: $color-titulos;
    font-family: $letra-titulos;
    padding-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
.texto-carousel{
    margin: 3rem;
}
.carousel-item{
    p{
        font-size: 1.2rem;
        font-family: $letra-secundaria;
        text-align: center;
    }
    a{
        text-decoration: none;
        color: $color-titulos;
        font-size: 1rem;
    }
}
//lore de yuumi
.titulo-lore{
    text-align: center;
    font-size: 2rem;
    color: $color-titulos;
    font-family: $letra-titulos;
    margin-left: 1rem;
    margin-right: 1rem;
}
.div-lore{
    text-align: center;
    font-size: 1rem;
    font-family: $letra-secundaria;
    color: #ffffff;
    padding: 10px 10px;
    margin-left: 1rem;
    margin-right: 1rem;
}
.span-lore{
    color: $color-titulos;
    font-size: 1.2rem;
}
.video{
    aspect-ratio: 16 / 9;
    width: 100%;
  }
/*footer*/
.vuelve-arriba{
    display: flex;
    justify-content: center;
    a{
        text-decoration: none;
        font-family: $letra-secundaria;
        font-size: 1rem;
        color: $color-titulos;
    }
}
.redes-sociales{
    margin: 0.5rem;
    display: flex;
    justify-content: space-evenly;
    li{
        list-style: none;
        a{
            text-decoration: map-get($map: $links, $key:text-decoration-links);
            font-family: $letra-titulos;
            font-size: 0.8rem;
            color: $color-titulos;
        }
    }
}
.parrafo-footer{
    text-align: center;
    font-size: 0.5rem;
    font-family: $letra-secundaria;
    a{
        text-decoration: none;
    }
}
.parrafo-footer2{
    font-size: 0.8rem;
    font-family: $letra-titulos;
    text-align: center;
}
//media query /*media query*/
@media only screen and (min-width:600px){
    .imgEstadisticas{
        height: 12rem;
        width: 12rem;
    }
    .referenciasTrabajo{
        h3{
            font-size: 2.1rem;
        }
    }
}
@media only screen and (min-width:1024px){
    header{
        img{
            height: 10rem;
            width: 10rem;
        }
    }
    .contenedor-nav{
        a{
            font-size: 1.5rem;
            margin: 1rem;
        }
    }
    .index-h1{
        font-size: 5rem;
    }
    .contenedor-h2{
        h2{
            font-size: 1.5rem;
        }
    }
    .estadisticas{
        display: flex;
        justify-content: space-evenly;
        margin: 1rem;
    }
    .clientes{
        font-size: 2rem;
    }
    .coaches{
        font-size: 2rem;
    }
    .boosters{
        font-size: 2rem;
    }
    .venta{
        font-size: 2rem;
    }
    .parrafo2{
        font-size: 4rem;
    }
    .img-estadisticas{
        height: 15rem;
        width: 15rem;
    }
    .ventajas-section{
        margin: 1rem;
    }
    .ventajas-titulo{
        font-size: 3.5rem;
    }
    .ventajas-p{
        font-size: 1.5rem;
    }
    .ventajas-span{
        font-size: 1.8rem;
    }
    .ventajas-contacto{
        font-size: 1.8rem;
    }
    /*query de carrusel*/
    .titulo-carrusel{
        font-size: 3.5rem;
    }
    .texto-carousel{
        margin: 10rem;
    }
    /*query lore*/
    .titulo-lore{
        font-size: 3.5rem;
    }
    .div-lore{
        font-size: 1.5rem;
        padding: 10px 10px;
    }
    .span-lore{
        font-size: 1.8rem;
    }
    .video{
        margin-top: 2rem;
        width: 560px;
        height: 315px;
    }
    // /*query footer*/
    .vuelve-arriba{
        a{
            font-size: 1rem;
        }
    }
    .redes-sociales{
        li{
            font-size: 1.5rem;
            a{
                font-size: 1.5rem;        
            }
        }
    }
    .parrafo-footer{
        font-size: 0.8rem;
    }
    .parrafo-footer2{
        font-size: 1.2rem;
    }
}
/*coaching.html*/
.h1-coaching{
    h1{
        text-align: center;
        color: $color-titulos;
        font-family: $letra-titulos;
        font-size: 2.5rem;
    }
}
.h2-coaching{
    h2{
        font-size: 1.5rem;
        font-family: $letra-secundaria;
        text-align: center;
    }
}
.div-h3{
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    h3{
        color: #ffffff;
        text-align: center;
        font-size: 2rem;
        font-family: $letra-secundaria;
    }
    h4{
        padding-top: 1rem;
        color: $color-titulos;
        text-align: center;
        font-size: 1.8rem;
        font-family: $letra-secundaria;
    }
}
.coaching-p{
    padding: 1rem;
    color: #ffffff;
    text-align: justify;
    font-size: 1.5rem;
    font-family: $letra-secundaria
}
// /*parte de coaches*/
.contenedor-coach{
    @include flex;
    margin: 2rem;
    border: $border-forma;
    span{
        text-align: center;
        font-family: $letra-titulos;
    }
    p{
        text-align: center;
        padding: 1rem;
        font-family: $letra-secundaria;
    }
}
.boton-contrato{
    text-align: center;
    a{
        font-family: $letra-secundaria;
        font-size: 2.5rem;
        text-decoration: none;
        color: $color-titulos;
    }
}
.coach-span{
    color: $color-titulos;
    font-size: 2rem;
}
// /*reclutamiento y feedback*/
.contenedor-reclutamiento-feedback{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #000;
    padding: 1rem;
    h5{
        text-align: center;
        color: $color-titulos;
        font-family: $letra-titulos;
        font-size: 3rem;
    }
}
.reclutamiento-p{
    font-family: $letra-secundaria;
    font-size: 1.2rem;
    text-align: center;
    color: #ffffff;
    span{
        color: $color-titulos;
        font-size: 1.5rem;
    }
    a{
        text-decoration: none;
        color: $color-titulos;
        font-size: 1,5rem;
    }
}
.feedback-coaching{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 2rem;
    h5{
        font-size: 3rem;
        color: $color-titulos;
        font-family: $letra-titulos;
        padding-bottom: 1rem;
    }
    p{
        padding-bottom: 2rem;
        font-size: 1.2rem;
        font-family: $letra-secundaria;
    }
    a{
        text-decoration: none;
        color: $color-titulos;
        font-size: 1.5rem;
    }
}
// /*media queries*/
@media only screen and (min-width:1024px){
    header{
        img{
            height: 10rem;
            width: 10rem;
        }
    }
    .h1-coaching{
        h1{
            font-size: 5rem;
        }
    }
    .h2-coaching{    
        h2{
            font-size: 2.5rem;
        }
    }
    .div-h3{
        h3{
            font-size: 3rem;
        }
        h4{
            font-size: 2.2rem;
        }
    }
    .coaching-p{
        font-size: 1.8rem;
    }
    .contenedor-coach{
        align-items: center;
        margin-left: 10rem;
        margin-right: 10rem;
    }
    .buggax-p, .josedeodo-p, .corejj-p, .showmaker-p{
        font-size: 2rem;
    }
    .contenedor-reclutamiento-feedback{
        display: grid;
        grid-template-areas: 
        "reclutamiento-div feedback-coaching feedback-coaching"
        "reclutamiento-div feedback-coaching feedback-coaching"
        "reclutamiento-div feedback-coaching feedback-coaching"
        "reclutamiento-div feedback-coaching feedback-coaching";
        align-items: center;
    }
    .reclutamiento-div{
        grid-area: reclutamiento-div;
    }
    .feedback-coaching{
        grid-area: feedback-coaching;
    }
}
// /* boosting.html*/
.titulo-boosting{
    text-align: center;
    color: $color-titulos;
    font-family: $letra-titulos;
    font-size: 2.5rem;
    margin-top: 1rem;
}
.subtitulo-boosting{
    color: #ffffff;
    font-size: 1.5rem;
    font-family: $letra-secundaria;
    text-align: center;
}
.disclaimer-boosting{
    margin: 2rem;
    border: $border-forma;
    font-family: $letra-secundaria;
    text-align: center;
    h3{
        color: $color-titulos;
        font-size: 1.2rem;
    }
    p{
        font-size: 1.2rem;
        margin: 5px;
    }
    a{
        text-decoration: none;
        color: $color-titulos;
        font-size: 1.2rem;
    }
}
.contenedor-booster{
    display: flex;
    flex-direction: column;
    border: $border-forma;
    margin: 2rem;
    text-align: center;
    a{
        font-family: $letra-secundaria;
        font-size: 2rem;
        text-decoration: none;
        color: $color-titulos;
        padding-right: 5px;
    }
}
.booster-p{
    font-family: $letra-secundaria;
    font-size: 1.5rem;
    text-align: center;
    padding-top: 1.5rem;
    margin: 2rem;
}
.garantia-div{
    h4{
        color: $color-titulos;
        font-family: $letra-titulos;
        font-size: 2rem;
        text-align: center;
    }
    p{
        font-family: $letra-secundaria;
        font-size: 1.2rem;
        margin: 2rem;
        text-align: center;
    }
    span{
        color: $color-titulos;
        font-size: 1.3rem;
    }
    a{
        text-decoration: none;
        color: $color-titulos;
    }
}
//mediaquery de 600px intacta*/
@media only screen and (min-width:1024px){
    .titulo-boosting{
        font-size: 4rem;
    }
    .subtitulo-boosting{
        font-size: 2.18rem;
    }
    .disclaimer-boosting{
        margin-left: 4rem;
        margin-right: 4rem;
        h3{
            font-size: 1.87rem;
        }
        p{
            font-size: 1.5rem;
        }
        a{
            font-size: 1.8rem;
        }
    }
    .contenedor-booster{
        align-items: center;
        margin-left: 10rem;
        margin-right: 10rem;
    }
    .garantia-div{
        h4{
            font-size: 3rem;
        }
        p{
            font-size: 1.5rem;
            margin-left: 4rem;
            margin-right: 4rem;
        }
        span{
            font-size: 1.8rem;
        }
    }
}
//cuentas.html /*cuentas.html*/
.cuentas-titulo{
    text-align: center;
    color: $color-titulos;
    font-family: $letra-titulos;
    font-size: 4rem;
}
.cuentas-subtitulo{
    color: #ffffff;
    font-size: 1.8rem;
    font-family: $letra-secundaria;
    text-align: center;
    padding: 10px;
    margin: 2rem;
}
.cuentas-galeria{
    display: flex;
    flex-direction: column;
    margin: 2rem;
}
.titulo-galeria{
    font-size: 2.5rem;
    font-family: $letra-secundaria;
    text-align: center;
    padding: 1rem;
    color: $color-titulos;
}
.imagenes-galeria{
    display: grid;
    justify-items: center;
    grid-template-areas: "img1 img2"
                          "img3 img4"
                          "img5 img6"
                          "img7 img8"
                          "img9 img9"
                "parrafo-gal-grid parrafo-gal-grid"
                 "contac-gal-grid contac-gal-grid";
}
.img1{
    grid-area:img1 ;
    height: 300px;
    width: 200px;
}
.img2{
    grid-area:img2 ;
    height: 300px;
    width: 200px;
}
.img3{
    grid-area:img3 ;
    height: 300px;
    width: 200px;
}
.img4{
    grid-area:img4 ;
    height: 300px;
    width: 200px;
}
.img5{
    grid-area:img5 ;
    height: 300px;
    width: 200px;
}
.img6{
    grid-area:img6 ;
    height: 300px;
    width: 200px;
}
.img7{
    grid-area:img7 ;
    height: 300px;
    width: 200px;
}
.img8{
    grid-area:img8 ;
    height: 300px;
    width: 200px;
}
.img9{
    grid-area:img9 ;
    height: 300px;
    width: 200px;
}
.parrafo-gal-grid{
    grid-area: parrafo-gal-grid;
    font-size: 1.2rem;
    font-family: $letra-secundaria;
    text-align: center;

}
.contac-gal-grid{
    grid-area: contac-gal-grid;
    text-decoration: none;
    color: $color-titulos;
    font-family: $letra-secundaria;
    font-size: 1.5rem;
    text-align: center;
}
.imagenes-galeria{
    img{
        padding-top: 0.5rem;
    }
}
.imagenes-galeria-un{
    display: grid;
    grid-template-areas: "img-un1 img-un2"
                        "img-un3 img-un3";
    justify-items: center;
}
.img-un1{
    grid-area: img-un1;
}
.img-un2{
    grid-area: img-un2;
}
.img-un3{
    grid-area: img-un3;
}
.imagenes-galeria-un{
    img{
        height: 300px;
        width: 200px;
        padding-top: 0.5rem;
    }
}
.parrafo-galeria{
    font-family: $letra-secundaria;
    text-align: center;
    padding: 1rem;
    p{
        font-size: 1.2rem;
        display: flex;
        flex-direction: column;
    }
    a{
        text-decoration: none;
        color: $color-titulos;
        font-family: $letra-secundaria;
        font-size: 1.5rem;
        text-align: center;
    }
}
.metodos-pago{
    border: $border-forma;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    h3{
        text-align: center;
        color: $color-titulos;
        font-family: $letra-titulos;
        font-size: 2.5rem;   
    }
}
.metodo-pago{
    text-align: left;
    color: $color-titulos;
    font-family: $letra-secundaria;
    font-size: 2rem;
}
.parrafo-pago{
    font-size: 1.2rem;
    font-family: $letra-secundaria;
    color: #ffffff;
    a{
        text-decoration: none;
        color: $color-titulos;
    }
}
.otros-servicios{
    font-family: $letra-titulos;
    font-size: 2.5rem;
    color: $color-titulos;
    text-align: center;
    margin: 2rem;
}
.contenedor-servicios{
    display: flex;
    flex-direction: column;
    margin: 2rem;
    align-items: center;
    p{
        font-family: $letra-secundaria;
        font-size: 1rem;
        text-align: center;
    }
    span{
        font-family: $letra-secundaria;
        color: $color-titulos;
    }
    a{
        text-decoration: none;
        color: $color-titulos;
    }
}
//media query /*media query*/
@media only screen and (min-width:1024px){
    .cuentas-titulo{
        font-size: 4rem;
    }
    .cuentas-subtitulo{
        font-size: 2rem;
    }
    .titulo-galeria{
        font-size: 3rem;
    }
    .imagenes-galeria{
        display: grid;
        justify-items:center;
        grid-template-areas: "img1 img2 img3"
                              "img4 img5 img6"
                              "img7 img8 img9"
"parrafo-gal-grid parrafo-gal-grid parrafo-gal-grid"
    "contac-gal-grid contac-gal-grid contac-gal-grid";
    }
    .imagenes-galeria{
        img{
            height: 450px;
            width: 300px;
        }
    }
    .parrafo-gal-grid{
        font-size: 1.5rem;
    }
    .contac-gal-grid{
        font-size: 2rem;
    }
    .imagenes-galeria-un{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .parrafo-galeria{
        p{
            font-size: 1.5rem;
        }
        a{
            font-size: 2rem;
        }
    }
    .metodos-pago{
        border: $border-forma;
        margin: 1rem;
        h3{
            font-size: 3rem;
        }
    }
    .parrafo-pago{
        font-size: 1.8rem;
        color: #ffffff;
    }
}
.otros-servicios{
    font-size: 3rem;
}
.contenedor-servicios{
    display: flex;
    flex-direction: row;
    p{
        font-family: $letra-secundaria;
        font-size: 1.8rem;
        text-align: center;
    }
    span{
        font-family: $letra-secundaria;
        color: $color-titulos;
    }
    a{
        text-decoration: none;
        color: $color-titulos;
    }
}
//contacto.html /*contacto.html*/
h1{
    text-align: center;
    color: $color-titulos;
    font-family: $letra-titulos;
    font-size: 2.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.contenedor-formulario-socials{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formulario-contacto{
    legend{
        text-align: center;
        color: #ffffff;
        font-family: $letra-titulos;
        font-size: 2rem;
    }
    label{
        font-size: 1.2rem;
        font-family: $letra-secundaria;
    }
    input{
        font-size: 1rem;
        font-family: $letra-secundaria;
        color: $color-titulos;   
    }
    option{
        color: $color-titulos;
    }
    select{
        color: $color-titulos;
    }
}
.socials{
    margin: 1rem;
    display: flex;
    justify-content: space-between;
    li{
        list-style: none;
        padding: 0.5rem;
        i{
            color: $color-titulos;
        }
        a{
            text-decoration: none;
            font-family: $letra-titulos;
            font-size: 1.2rem;
            color: #ffffff;
        }
    }
}
.faq-general{
    margin: 2rem;
    display: flex;
    flex-direction: column;
}
.titulo-faq{
    text-align: center;
    color: $color-titulos;
    font-family: $letra-secundaria;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}
.parrafo-faq{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    p{
        color: #ffffff;
        font-family: $letra-secundaria;
        font-size: 1.2rem;
        margin-bottom: 2rem;
    }
    h3, h4{
        color: $color-titulos;
        font-family: $letra-titulos;
        font-size: 1.8rem;
    }
}
.disclaimer-servicios{
    margin: 2rem;
    border: $border-forma;
    font-family: $letra-secundaria;
    text-align: center;
    h4{
        color: $color-titulos;
        font-size: 1.2rem;
    }
    p{
        font-size: 1.2rem;
        margin: 5px;
    }
    a{
        text-decoration: none;
        color: $color-titulos;
        font-size: 1.2rem;
    }
}
/*media queries. 600px por ahora sin cambios*/
@media only screen and (min-width:1024px){
    h1{
        font-size: 4rem;
        margin-bottom: 3rem;
    }
    .formulario-contacto{
        legend{
            font-size: 50px;
        }
        label{
            font-size: 30px;    
        }
        input{
            font-size: 20px;
            margin-left: 20px;
        }
    }
    .socials{
        li{
            font-size: 30px;
        }
    }
    .titulo-faq{
        font-size: 4rem;
    }
    .faq-general{
        margin: 3rem;
    }
    .parrafo-faq{
        h3, h4{
            font-size: 2.2rem;
        }
        p{
            font-size: 1.5rem;
        }
    }
    .disclaimer-servicios{
        margin: 3rem;
        h4{
            font-size: 2rem;
        }
        p{
            font-size: 1.5rem;
        }
        a{
            font-size: 1.5rem;
        }
    }
}